@inherits umbraco.MacroEngines.DynamicNodeContext

@{
    var cases = Model.selectedCases;

   
    
}

<section>
    <header class="major">
        <h2>My Portfolio</h2>
    </header>
    <div>
        <div class="row">
            @foreach (var item in cases)
            {
                var myCase = Model.NodeById(item.InnerText);
         <div class="4u">
                <section class="box">
                    <a href="http://facebook.com/DreametryDoodle" class="image image-full">
                        <img src="/images/pic02.jpg" alt="" /></a>
                    <header>
                        <h3>@myCase.Name</h3>
                    </header>
                    <p>Lorem ipsum dolor sit amet sit veroeros sed amet blandit consequat veroeros lorem
                        blandit  adipiscing et feugiat phasellus tempus dolore ipsum lorem dolore.</p>
                    <footer>
                        <a href="#" class="button button-alt">Find out more</a>
                    </footer>
                </section>
            </div>
                
            }
           

        </div>

    </div>
</section>

