﻿@inherits umbraco.MacroEngines.DynamicNodeContext

@{ 
	@*Get the root of the website *@
    var root = Model.AncestorOrSelf("language");
}
<nav id="nav">
<ul>
    @foreach (var page in root.Children.Where("Visible"))
    { 
        <li class="@page.IsAncestorOrSelf(Model, "current_page_item", "")">
            <a href="@page.Url">@page.Name</a>
        </li>
    }
</ul>

	</nav>