﻿@inherits umbraco.MacroEngines.DynamicNodeContext

	@{
		var titel = Model.Name;
		var description = "";

        if (!string.IsNullOrEmpty(Model.titel))
        {
            titel = Model.titel;
        }
	
		
	}
<title>@titel</title>
<meta name="description" content="@description" />


